@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');
:root{
    /* == Colors == */
    --cyan-600 : hsl(192, 37%, 48%);
    --cyan-300 : hsl(192, 90%, 77%);
    --purple-600 : hsl(268, 34%, 53%);
    --purple-300 : hsl(268, 100%, 86%);
    --slate-900 : hsl(240, 21%, 20%);
    --slate-600 : hsl(240, 10%, 57%);
    --slate--300 : hsl(240, 18%, 85%);
    --white : hsl(0, 0%, 98%);
    /* == Font == */
    --main-font : 'Red Hat Display';
}
.body{
    position: relative;
    display: flex;
    flex-direction: column;
    font-family: var(--main-font), 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: var(--white);
}
.header{
    padding: 48px 80px 0 80px;
}
.nav{
    display: flex;
    justify-content: center;
}
.hero{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* padding: 272px 32px 32px 32px; */
    /* padding: 64px 32px 32px 32px; */
    /* padding: 0; */
    padding-top: 64px;
    /* padding-top: 272px; */
    padding-bottom: 32px;
    overflow: hidden;
    /* background-image: url('./assets/tablet/image-hero.png');
    background-repeat: no-repeat;
    background-size: auto 160px;
    background-position: left 49% top 64px; */
}
.hero--image-bg{
    width: 100%;
    height: calc(100vw * 0.3945 );
    min-height: 160px;
    max-height: 303px;
    background-image: url('./assets/tablet/image-hero.png');
    background-repeat: no-repeat;
    background-size: auto 100%;
    background-position: top center;
}
.hero--image{
    width: 115%;
}
.hero__content{
    padding: 48px 32px 0 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.hero--title{
    margin: 0 0 24px 0;
    max-width: 448.3px;
    color: var(--slate-900);
    font-size: 40px;
    line-height: 110%;
    font-weight: 900;
    text-align: center;
}
.hero--text{
    margin: 0 0 24px 0;
    max-width: 448.3px;
    color: var(--slate-600);
    font-size: 16px;
    line-height: 150%;
    font-weight: 500;
    text-align: center;
}
.button__container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.btn{
    position: relative;
    padding: 16px 40px;
    width: fit-content;
    color: var(--white);
    font-size: 16px;
    line-height: 150%;
    font-weight: 900;
    text-align: center;
    border: none;
    border-radius: 29px;
    z-index: 1;
}
.btn-cyan{
    background-color: var(--cyan-600);
}
.btn-purple{
    background-color: var(--purple-600);
}
.btn-16{
    margin-top: 16px;
}
.btn-24{
    margin-top: 24px;
}
.btn-version-cyan{
    color: var(--cyan-300);
}
.btn-version-purple{
    color: var(--purple-300);
}
.bullet{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 32px;
}
.bullet--hr{
    position: relative;
    width: 1px;
    height: 80px;
    background-color: var(--slate--300);
    z-index: 1;
}
.bullet--item{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 56px;
    height: 56px;
    color: var(--slate-600);
    background-color: var(--white);
    font-size: 16px;
    line-height: 150%;
    font-weight: 900;
    border: 1px solid var(--slate--300);
    border-radius: 99%;
    z-index: 1;
}
.mosaic{
    display:grid;
    justify-content: center;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    padding: 32px;
    gap: 16px;
    width: 100%;
}
.mosaic--image{
    /* width: 147.5px; */
    width: auto;
    height: 144px;
    border-radius: 8px;
    justify-self: center;
}
.argumentation{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 32px;
    text-align: center;
}
.argumentation--subtitle{
    color: var(--cyan-600);
    font-size: 12px;
    line-height: 110%;
    font-weight: 900;
    letter-spacing: 4px;
    text-transform: uppercase;
}
.argumentation--title{
    position: relative;
    margin: 16px 0 32px 0;
    max-width: 445px;
    color: var(--slate-900);
    font-size: 32px;
    line-height: 35px;
    font-weight: 900;
    z-index: 1;
}
.argumentation--text{
    position: relative;
    max-width: 504px;
    color: var(--slate-600);
    font-size: 16px;
    line-height: 150%;
    font-weight: 500;
    text-align: center;
    z-index: 1;
}
.footer{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-bottom: 64px;
    background-image: url('./assets/footer-background-raw.jpg');
    background-repeat: no-repeat;
    background-size: auto 146%;
    background-position: center top -116px;
}
.footer::before{
    position: absolute;
    top: 140px;
    content: '';
    width: 100%;
    height: 374px;
    background-color: var(--cyan-600);
    opacity: 0.9;
    z-index: 0;
}
.footer::after{
    position: absolute;
    top: 0;
    content: '';
    width: 100%;
    height: 140px;
    background-color: var(--white);
}
.argumentation-footer{
    padding: 4px 32px 0 32px;
}
.argumentation--title-margin{
    margin: 0 0 24px 0;
}
.argumentation-white{
    color: var(--white);
}
.signature{
    position: absolute;
    bottom: 0;
    z-index: 1;
}
.signature--text{
    font-weight: 500;
    color: var(--white);
}
.signature--link{
    font-weight: 900;
    color: var(--white);
    letter-spacing: 1px;
    text-decoration: none;
}

@media(min-width: 768px){
    .hero__content{
        padding: 72px 32px 32px 32px;
    }
    .hero--title{
        font-size: 48px;
        line-height: 53px;
    }
    .button__container{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        max-width: 371px;
    }
    .btn-16{
        margin-top: 0;
    }
    .bullet{
        padding-top: 56px;
    }
    .mosaic{
        grid-template-rows: 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 24px;
    }
    .argumentation--subtitle{
        font-size: 14px;
    }
    .argumentation--title{
        font-size: 36px;
        line-height: 40px;
    }
    .bullet-footer{
        padding-top: 32px;
    }
    .argumentation--title-margin{
        margin: 0 0 24px 0;
        max-width: 504px;
    }
    .footer{
        background-size: 126% auto;
        background-position: center top -82px;
    }
    .footer::before{
        height: 320px;
    }
}